#globe {
    animation: globeRotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;


}

@keyframes globeRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
